<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="stylesheet" href="../../static/css/all.css">
    <title>Editar Venta</title>
</head>
<body>
    <div class="container">
        <div class="card"style="width: 75rem;">
            <div>
                <h5 class="card-header text-align: left" > <i class="fas fa-cart-plus"></i>REGISTRAR VENTA</h5>
            </div>
            <div class="card-body text-center">
            <table class="table table-bordered table-hover table-striped"style="width: 73rem;">
                <thead class="table-dark text-center">
                    <tr>
                    <th scope="col">ID VENTA</th>
                    <th scope="col">NOMBRE CLIENTE</th>
                    <th scope="col">C.C. CLIENTE</th>
                    <th scope="col">NOMBRE DEL CURSO</th>
                    <th scope="col">ÁREA</th>
                    <th scope="col">PRECIO DE VENTA</th>
                    <th scope="col">ESTADO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center">1003</th>
                        <td> <input placeholder="Ingrese Nnombre cliente"> </td>
                        <td> <input placeholder="Ingrese C.C. cliente"> </td>
                        <td>
                            <select class="form-select" aria-label="Rol">
                                <option selected>Seleccione el Curso</option>
                                <option value="1">Introducción a Java</option>
                                <option value="2">React Native</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" aria-label="Rol">
                                <option selected>Seleccione el Área</option>
                                <option value="1">OOP</option>
                                <option value="2">Móvil</option>
                              </select>
                        </td>
                        <td> <input placeholder="Ingrese el valor del curso"> </td>
                        <td><select class="form-select" aria-label="Estado">
                            <option selected>Seleccione el Estado</option>
                            <option value="1">Procesada</option>
                            <option value="2">En Proceso</option>
                          </select>
                        </td>
                </tbody>
    
            </table>
        </div>
            <div class="card-footer text-end">
                <a href="gestor_ventas.html"class="btn btn-dark">CONFIRMAR</a>
                <a href="gestor_ventas.html"class="btn btn-dark">CANCELAR</a>
            </div>
        </div>
    </div>
    </div> 
</body>
</html>